<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stilts Chatbot</title>
    <!-- Tailwind CSS for styling -->
    <!-- Google Fonts: Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <!-- load htmx -->
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>

<body class="container">
    
    <div class="documentation-container">
        
        <div class="documentation-area">
            <!-- imbed the html that is in app/src/data/sun256.html-->
            <iframe id="viewer" src="https://www.star.bris.ac.uk/~mbt/stilts/sun256/sun256.html" class="documentation-frame" title="Documentation"></iframe>
        
        </div>

        <div class="rag-result-area">
            <div>
                Temporay area For RAG results.
            </div>
        </div>
    </div>

    <div class="chat-area">

        <!-- Header -->
        <div class="chat-header">
            <h1 class="text-xl font-bold">Stilts Expert and command generator.</h1>
            <div id="status-indicator" class="status-indicator" title="Disconnected"></div>
        </div>

        <!-- Chat Container -->
        <div id="chat-container" class="chat-container">
            <!-- Initial bot message -->
            <div class="chat-bubble">
                <div class="bg-gray-200 text-gray-800 p-3 rounded-lg max-w-xs">
                    <p>Hello!</p>
                </div>
            </div>
        </div>

        <!-- Input Form -->
        <div class="input-container" htmx-get>
            <form id="prompt-form" class="input-form"
                   hx-get="/context"
                   hx-target=".rag-result-area"
                   hx-indicator="#spinner">
                <input name="prompt" type="text" class="chat-input" id="prompt-input" placeholder="Type your prompt here... " autocomplete="off">
                <button type="submit" id="submit-button" class="chat-button">
                    Send
                </button>
            </form>
            <div id="spinner" class="htmx-indicator spinner-container">
                <p>Loading...</p>
            </div>
        </div>
    </div>
    

    <script src="/static/js/script.js"></script>
</body>
</html>